body {
    background: #EBF5F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
}

.search-card{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

input{
    outline: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px;
 
}

button{
    border-radius: 10px;
    border: 1px;
    padding: 15px 25px;
    cursor: pointer;
    color: azure;
    background: darkslateblue;
}

button:hover{
    background-color: blueviolet;
}

.card{
    background: white;
    max-width: 980px;
    margin: auto;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 9px;
    margin-right: 30px;
}

.right{
    text-align: right;
    padding-left: 100px;
}

.left{
    text-align: left;
}